<%= form_for(@borrower) do |f| %>
  <% if @borrower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrower.errors.count, "error") %> prohibited this borrower from being saved:</h2>

      <ul>
      <% @borrower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :first_name, class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :first_name %>
    </div>  
  </div>
  <div class="row">
    <%= f.label :last_name, class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :last_name %>
    </div>  
  </div>
  <div class="row">
    <%= f.label :social_security_number, "SSN", class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :social_security_number %>
    </div>
  </div>
  <div class="row">
    <%= f.label :home_phone, class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :home_phone %>
    </div>  
  </div>
  <div class="row">
    <%= f.label :dob, "DOB", class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :dob %>
    </div>
  </div>
  <div class="row">
    <%= f.label :years_school, class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :years_school %>
    </div>
  </div>
  <div class="row">
    <%= f.label :marriage_status, class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.select :marriage_status, options_for_select(MortgageLoanConstants::MarriageStatus, selected: @borrower.marriage_status), {prompt: 'Select Marriage Status'}, {required: true} %>
    </div>
  </div>
  <div class="row">
    <%= f.label :number_of_dependents, "No. of Dependents", class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :number_of_dependents %>
    </div>
  </div>

  
    
  <div class="form-group">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :borrower_type, value: MortgageLoanConstants::BorrowerType['Co-Borrower'] if co_borrower %>
<% end %>
