<%= form_for(@borrower) do |f| %>
  <% if @borrower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrower.errors.count, "error") %> prohibited this borrower from being saved:</h2>

      <ul>
      <% @borrower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :first_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :first_name %>
    </div>  
  </div>
  <div class="row">
    <%= f.label :last_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :last_name %>
    </div>  
  </div>
  <div class="row">
    <%= f.label :social_security_number, "SSN", class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :social_security_number %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :home_phone, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :home_phone %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :dob, "DOB", class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :dob %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :years_school, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :years_school %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marriage_status, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :marriage_status %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number_of_dependents, "No. of dependents", class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :number_of_dependents %>
    </div>
  </div>

  <%= @borrower.addresses.home_address do |home_address|  %>
    <%= f.fields_for home_address do |home_address_form| %>
      <div class="form-group">
        <%= label_tag "Home Address Line 1", class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= home_address_form.text_field :address_line_1 %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Home Address Line 2", class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= home_address_form.text_field :address_line_2 %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :own_or_rent, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= home_address_form.check_box :own_or_rent %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :years_of_residence, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= home_address_form.number_field :years_of_residence %>
        </div>
      </div>
    <% end %>  
  <% end %>
    
  <div class="form-group">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :borrower_type, value: MortgageLoanConstants::BorrowerType['Co-Borrower'] if co_borrower %>
<% end %>
