<p id="notice"><%= notice %></p>

<p>
  <strong>Borrower:</strong>
  <%= @borrower.borrower_id %>
</p>

<p>
  <strong>Mortgage:</strong>
  <%= @borrower.mortgage_id %>
</p>

<p>
  <strong>Borrower type:</strong>
  <%= @borrower.borrower_type %>
</p>

<p>
  <strong>First name:</strong>
  <%= @borrower.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @borrower.last_name %>
</p>

<p>
  <strong>Social security number:</strong>
  <%= @borrower.social_security_number %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @borrower.home_phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @borrower.dob %>
</p>

<p>
  <strong>Years school:</strong>
  <%= @borrower.years_school %>
</p>

<p>
  <strong>Marriage status:</strong>
  <%= @borrower.marriage_status %>
</p>

<p>
  <strong>Number of dependents:</strong>
  <%= @borrower.number_of_dependents %>
</p>

<p>
  <strong>Home address line 1:</strong>
  <%= @borrower.home_address_line_1 %>
</p>

<p>
  <strong>Home address line 2:</strong>
  <%= @borrower.home_address_line_2 %>
</p>

<p>
  <strong>Own or rent:</strong>
  <%= @borrower.own_or_rent %>
</p>

<p>
  <strong>Years of residence:</strong>
  <%= @borrower.years_of_residence %>
</p>

<p>
  <strong>Mailing address line 1:</strong>
  <%= @borrower.mailing_address_line_1 %>
</p>

<p>
  <strong>Mailing address line 2:</strong>
  <%= @borrower.mailing_address_line_2 %>
</p>

<%= link_to 'Edit', edit_borrower_path(@borrower) %>
