<p id="notice"><%= notice %></p>

<p>
  <strong>Federal debt default flg:</strong>
  <%= @declaration.federal_debt_default_flg %>
</p>

<p>
  <strong>Obligation flg:</strong>
  <%= @declaration.obligation_flg %>
</p>

<p>
  <strong>Down payment borrowed flg:</strong>
  <%= @declaration.down_payment_borrowed_flg %>
</p>

<p>
  <strong>Co maker endorser flg:</strong>
  <%= @declaration.co_maker_endorser_flg %>
</p>

<p>
  <strong>Us citizen flg:</strong>
  <%= @declaration.us_citizen_flg %>
</p>

<p>
  <strong>Permanent resident alien flg:</strong>
  <%= @declaration.permanent_resident_alien_flg %>
</p>

<p>
  <strong>Occupy as primary residence flg:</strong>
  <%= @declaration.occupy_as_primary_residence_flg %>
</p>

<p>
  <strong>Type of property owned:</strong>
  <%= @declaration.type_of_property_owned %>
</p>

<p>
  <strong>Title holding type:</strong>
  <%= @declaration.title_holding_type %>
</p>
