<%= form_for([@borrower, @income_expense]) do |f| %>
  <% if @income_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_expense.errors.count, "error") %> prohibited this income_expense from being saved:</h2>

      <ul>
      <% @income_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base_income %>
    <%= f.text_field :base_income %>
  </div>
  <div class="field">
    <%= f.label :over_time %>
    <%= f.text_field :over_time %>
  </div>
  <div class="field">
    <%= f.label :bonuses %>
    <%= f.text_field :bonuses %>
  </div>
  <div class="field">
    <%= f.label :commissions %>
    <%= f.text_field :commissions %>
  </div>
  <div class="field">
    <%= f.label :dividends_interest %>
    <%= f.text_field :dividends_interest %>
  </div>
  <div class="field">
    <%= f.label :net_rental_income %>
    <%= f.text_field :net_rental_income %>
  </div>
  <div class="field">
    <%= f.label :other_income %>
    <%= f.text_field :other_income %>
  </div>
  <div class="field">
    <%= f.label :rent %>
    <%= f.text_field :rent %>
  </div>
  <div class="field">
    <%= f.label :first_mortgage %>
    <%= f.text_field :first_mortgage %>
  </div>
  <div class="field">
    <%= f.label :other_financing %>
    <%= f.text_field :other_financing %>
  </div>
  <div class="field">
    <%= f.label :harzard_insurance %>
    <%= f.text_field :harzard_insurance %>
  </div>
  <div class="field">
    <%= f.label :real_estate_taxes %>
    <%= f.text_field :real_estate_taxes %>
  </div>
  <div class="field">
    <%= f.label :mortage_insurance %>
    <%= f.text_field :mortage_insurance %>
  </div>
  <div class="field">
    <%= f.label :home_owner_assn_dues %>
    <%= f.text_field :home_owner_assn_dues %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
