<p id="notice"><%= notice %></p>

<p>
  <strong>Income expense:</strong>
  <%= @income_expense.income_expense_id %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @income_expense.borrower_id %>
</p>

<p>
  <strong>Base income:</strong>
  <%= @income_expense.base_income %>
</p>

<p>
  <strong>Over time:</strong>
  <%= @income_expense.over_time %>
</p>

<p>
  <strong>Bonuses:</strong>
  <%= @income_expense.bonuses %>
</p>

<p>
  <strong>Commissions:</strong>
  <%= @income_expense.commissions %>
</p>

<p>
  <strong>Dividends interest:</strong>
  <%= @income_expense.dividends_interest %>
</p>

<p>
  <strong>Net rental income:</strong>
  <%= @income_expense.net_rental_income %>
</p>

<p>
  <strong>Other income:</strong>
  <%= @income_expense.other_income %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @income_expense.rent %>
</p>

<p>
  <strong>First mortgage:</strong>
  <%= @income_expense.first_mortgage %>
</p>

<p>
  <strong>Other financing:</strong>
  <%= @income_expense.other_financing %>
</p>

<p>
  <strong>Harzard insurance:</strong>
  <%= @income_expense.harzard_insurance %>
</p>

<p>
  <strong>Real estate taxes:</strong>
  <%= @income_expense.real_estate_taxes %>
</p>

<p>
  <strong>Mortage insurance:</strong>
  <%= @income_expense.mortage_insurance %>
</p>

<p>
  <strong>Home owner assn dues:</strong>
  <%= @income_expense.home_owner_assn_dues %>
</p>

<%= link_to 'Edit', edit_income_expense_path(@income_expense) %> |
<%= link_to 'Back', income_expenses_path %>
