<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @detail.detail_id %>
</p>

<p>
  <strong>Mortgage:</strong>
  <%= @detail.mortgage_id %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @detail.purchase_price %>
</p>

<p>
  <strong>Alteration cost:</strong>
  <%= @detail.alteration_cost %>
</p>

<p>
  <strong>Land cost:</strong>
  <%= @detail.land_cost %>
</p>

<p>
  <strong>Refinance amount:</strong>
  <%= @detail.refinance_amount %>
</p>

<p>
  <strong>Estimated prepaid items:</strong>
  <%= @detail.estimated_prepaid_items %>
</p>

<p>
  <strong>Estimated closing costs:</strong>
  <%= @detail.estimated_closing_costs %>
</p>

<p>
  <strong>Pmi mip funding fee:</strong>
  <%= @detail.pmi_mip_funding_fee %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @detail.discount_amount %>
</p>

<p>
  <strong>Subordinate financing:</strong>
  <%= @detail.subordinate_financing %>
</p>

<p>
  <strong>Closing costs paid by seller:</strong>
  <%= @detail.closing_costs_paid_by_seller %>
</p>

<p>
  <strong>Other credits:</strong>
  <%= @detail.other_credits %>
</p>

<p>
  <strong>Other credits note:</strong>
  <%= @detail.other_credits_note %>
</p>

<p>
  <strong>Loan amount:</strong>
  <%= @detail.loan_amount %>
</p>

<p>
  <strong>Pmi mip funding fee financed amount:</strong>
  <%= @detail.pmi_mip_funding_fee_financed_amount %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
